<h1><%= data.title %></h1>

<div><%= data.body %></div>

Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit in et unde enim
perspiciatis excepturi dolorum voluptatem ducimus quam ullam optio qui aliquid
incidunt provident, fugiat dolore inventore facere! Molestiae.
