<h3>Register</h3>
<form action="/register" method="POST">
  <label for="email"><b>Username</b></label>
  <input type="email" placeholder="Enter Username" name="email" />

  <label for="password"><b>Password</b></label>
  <input type="password" placeholder="Enter Password" name="password" />

  <input type="submit" value="Register" class="btn" />
</form>
